# really this is private to my build process
make/
common-lisp.net
.vcs
GNUmakefile
init-lisp.lisp
website/changelog.xml


dev/documentation

metacopy.tar.gz
website/output/
test-results*/
test-report*/
lift-local.config
*.dribble
*.fasl

# new ASDF stuff
*.*-warnings
*.build-report